<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <title>Lucas Reeh - CV</title>

    <link rel="shortcut icon" href="https://softwaredesign.foundation/favicon.ico" />
    <link rel="stylesheet" href="main.css">

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1" />
    <meta charset="utf-8">
  </head>

  <body ng-controller="AppCtrl">

  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Curriculum Vitae</h2>
    </div>
  </md-toolbar>

  <md-content id="content">

    <div layout-padding class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-content layout="row">
          <md-content layout-padding class="noborder">
            <img src="portrait.jpg" alt="Image of me" id="portrait">
          </md-content>
          <md-content layout-padding class="noborder">
            <h2>{{cv.firstname}} {{cv.lastname}}</h2>
            <h3>{{cv.header_tagline}}</h3>
            <p><span class="light-grey">{{cv.city}}</span> | {{cv.country}}</p>
            <p><a href="cv.linkedinurl">{{cv.linkedinurl}}</a></p>
          </md-content>
        </md-content>
      </section>
    </div>

    <div layout-padding class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Contact</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Business</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content layout="row">
            <md-content layout="column" layout-padding class="medium-width">
              <span class="entry-time">Phone</span> {{cv.contact.business.phone}}
            </md-content>
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Email</span> {{cv.contact.business.email}}
            </md-content>
            <md-content layout="column" layout-padding class="medium-width">
              <span class="entry-time">Address</span> {{cv.contact.business.address}}
            </md-content>
          </md-content>
        </md-content>
        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Private</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content layout="row">
            <md-content layout="column" layout-padding class="medium-width">
              <span class="entry-time">Phone</span> {{cv.contact.private.phone}}
            </md-content>
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Skype</span> {{cv.contact.private.skype}}
            </md-content>
            <md-content layout="column" layout-padding class="medium-width">
              <span class="entry-time">Address</span> {{cv.contact.private.address}}
            </md-content>
          </md-content>
        </md-content>
      </section>
    </div>

    <div layout-padding class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools">Personal information</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder">
          <md-content layout="row">
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Date of birth</span> {{cv.personal.birthdate}}
            </md-content>
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Marital status</span> {{cv.personal.maritialstatus}}
            </md-content>
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Nationality</span> {{cv.personal.nationality}}
            </md-content>
            <md-content layout="column" layout-padding class="small-width">
              <span class="entry-time">Gender</span> {{cv.personal.gender}}
            </md-content>
          </md-content>
        </md-content>
      </section>
    </div>


    <div layout-padding ng-show="cv.education.length > 0" class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Education</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder" ng-repeat="educationitem in cv.education">
          <span class="entry-h1">{{educationitem.title}}</span>
          <span class="entry-h2" ng-show="educationitem.field && educationitem.grad">{{educationitem.field}}, {{educationitem.grad}}</span>
          <p class="entry-p" ng-show="educationitem.description">{{educationitem.description}}</p>
          <span class="entry-time">{{educationitem.time}}, {{educationitem.location}}</span>
          <md-divider ng-show="!$last" class="entry-divider"></md-divider>
        </md-content>
      </section>
    </div>

    <div layout-padding ng-show="cv.experiences.length > 0" class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder" >
          <div class="md-toolbar-tools noborder">Experience</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder" ng-repeat="experience in cv.experiences">
          <span class="entry-h1">{{experience.title}}</span>
          <span class="entry-h2">{{experience.position}}</span>
          <p class="entry-p">{{experience.description}}</p>
          <span class="entry-time">{{experience.time}}, {{experience.location}}</span>
          <md-divider ng-show="!$last" class="entry-divider"></md-divider>
        </md-content>
      </section>
    </div>


    <div layout-padding class="force-page-break noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Languges</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder">
          <md-content layout="row">
            <md-content layout="column" layout-padding class="small-width" ng-repeat="language in cv.languages">
              <span class="entry-time">{{language.language}}</span> {{language.proficiency}}
            </md-content>
          </md-content>
        </md-content>
      </section>
    </div>

    <div layout-padding  ng-show="cv.publications.length > 0" class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Publications</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder"  ng-repeat="publication in cv.publications">
          <span class="entry-h1">{{publication.title}}</span>
          <span class="entry-h2">{{publication.location}}</span>
          <span class="entry-time">{{publication.time}}</span>
          <md-divider ng-show="!$last" class="entry-divider"></md-divider>
        </md-content>
      </section>
    </div>

    <div layout-padding  ng-show="cv.awards.length > 0" class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Awards</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder"  ng-repeat="award in cv.awards">
          <span class="entry-h1">{{award.title}}</span>
          <p class="entry-p">{{award.description}}</p>
          <span class="entry-time">{{award.time}}</span>
          <md-divider ng-show="!$last" class="entry-divider"></md-divider>
        </md-content>
      </section>
    </div>

    <div layout-padding class="noborder">
      <section class="md-shadow-bottom-z-1 noborder">
        <md-toolbar class="md-primary md-hue-1 noborder">
          <div class="md-toolbar-tools noborder">Additional information</div>
        </md-toolbar>
        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Skills</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content class="entry-skill">
            <span class="entry-skill" ng-repeat="skill in cv.skills">
              {{skill}}<span ng-show="!$last"> | </span>
            </span>
          </md-content>
        </md-content>
        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Interests</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content class="entry-skill">
            <span class="entry-skill" ng-repeat="interest in cv.interests">
              {{interest}}<span ng-show="!$last"> | </span>
            </span>
          </md-content>
        </md-content>
        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Hobbies</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content class="entry-skill">
            <span class="entry-skill" ng-repeat="hobby in cv.hobbies">
              {{hobby}}<span ng-show="!$last"> | </span>
            </span>
          </md-content>
        </md-content>

        <md-content layout="column" class="md-padding noborder">
          <span class="entry-h1">Travels</span>
          <md-divider class="entry-divider"></md-divider>
          <md-content class="entry-skill">
            <span class="entry-skill" ng-repeat="travel in cv.travels">
              {{travel}}<span ng-show="!$last"> | </span>
            </span>
          </md-content>
        </md-content>
      </section>

    </div>


  </md-content>

  <!-- Angular Material Dependencies -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
  <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

  <script src="main.js"></script>
</body>
</html>
